@tailwind base;
@tailwind components;
@tailwind utilities;
.border_radius {
    border-radius: 20px / 200px
}

.rotate-center {
	animation: rotate-center 2s ease-out infinite both;
}


 @keyframes rotate-center {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

 

.heartbeat {
	animation: heartbeat 1.5s ease-in-out infinite both;
}

 @keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }


.dropdown{
  position: relative;
}
.content{
  display: none;
  position: absolute;
  z-index: 1;
}
.content img{
  display: block;
}
.dropdown:hover .content{
  display: block;
}

.tracking-in-expand{
	animation: tracking-in-expand 5s cubic-bezier(0.175, 0.885, 0.320, 1.275) infinite both;
}


 @keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}



  